<?xml version="1.0"?>
<config>
    <modules>
        <Ceicom_ProductList>
            <version>0.1.2</version>
        </Ceicom_ProductList>
    </modules>
    <global>
        <helpers>
            <productlist>
                <class>Ceicom_ProductList_Helper</class>
            </productlist>
        </helpers>
        <blocks>
            <productlist>
                <class>Ceicom_ProductList_Block</class>
            </productlist>
        </blocks>
        <models>
            <productlist>
                <class>Ceicom_ProductList_Model</class>
            </productlist>
        </models>
    </global>
</config>